// function defines

@mixin backgroundImage ($filename) {
    background-image: url("resources/images/" + $filename);
}

// define variables
$firstCastleTop: 30px;
$castleLeft: 0px;

castleSize {
    height: 105px;
    width: 109px;
}

screenSize {
    height: 480px;
    width: 640px;
}

healthbarSize {
    height: 20px;
    width: 200px;
}

healthSize {
    height: 14px;
    width: 1px;
}

bunnySize {
    height: 46px;
    width: 64px;
}

gameoverSize {
    height: 480px;
    width: 640px;
}

arrowSize {
    height: 10px;
    width: 42px
}

mouseSize {
    height: 29px;
    width: 64px
}

// start.hbs
.title {
    margin: 20px;
}

.description {
    font-size: 18px;
    margin: 0 30px;
    color: brown;
}

//  main page
button {
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 16px;
}

button.start{
    left: 40%;
    top: 10%;
    position: relative;
    color: white;
    background-color: #ed9c28;
    border-color: #357ebd;
    @extend button;
}

body {
    margin: 0;
}

#content {
}

#screen {
    @extend screenSize;
    @include backgroundImage("grass.png");
    background-repeat: repeat;
    z-index: auto;
}

#healthbar {
    @extend healthbarSize;
    @include backgroundImage("healthbar.png");
    position: absolute;
    left: 2px;
    top: 2px;
    background-repeat: no-repeat;
    z-index: 2;
}

span.health {
    @extend healthSize;
    @include backgroundImage('health.png');
    top: 3px;
    position: absolute;
    z-index: 3;
}

#bunny {
    @extend bunnySize;
    @include backgroundImage("dude.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 6em;
    top: 6em;
    z-index: 3;
}

#score {
    top: 0px;
    left: 500px;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    color: brown;
    z-index: 3;
}

div.castle {
    @include backgroundImage("castle.png");
    background-repeat: no-repeat;
    @extend castleSize;
    position: relative;
    left: $castleLeft;
    top: $firstCastleTop;
    z-index: 2;
}

div.arrow {
  @include backgroundImage("bullet.png");
  @extend arrowSize;
  position: absolute;
  z-index: 2;
}

div.mouse {
  @include backgroundImage("badguy.png");
  @extend mouseSize;
  position: absolute;
  z-index: 2;
}


#gameover {
    @extend gameoverSize;
    @include backgroundImage("gameover.png");
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: none;
}

#gameover > p {
    font-size: 30px;
    color: #39b3d7;
    text-align: center;
    position: relative;
    top: 50%;
}

#gameover .restart {
    color: white;
    background-color: #47a447;
    border-color: #398439;
    @extend button;
}
