<div id="screen">
    {{#each castles}}
    <div class="castle"></div>
    {{/each}}
    <div id="gameover">
        <p>Score: <span></span></p>
        <p>Accuracy: <span></span> %</p>
        <p><button class="restart">Play Again!</button></p>
    </div>

    <div id="healthbar">
        {{#each scores}}
        <span class="health" style={{style}}></span>
        {{/each}}
    </div>

    <div id="bunny"></div>
    <div id="score">
        Score: <span>0</span>
    </div>
</div>
