<div id="screen">
    <p>This is my first private javascipt application and also first simple game. The idea is got from this 
    <a href="http://www.raywenderlich.com/24252/beginning-game-programming-for-teens-with-python">python program</a> whose developer is just a 13-year-old child. I just want to implement it with javascript techniques I learnt these days.
    </p>
    <button class="start">Go!!!</button>
</div>
