<div id="screen">
    <h3 class="title">Preface</h3>
    <p class="description">This is my first private javascipt application and also first simple game. The idea is got from this
    <a href="http://www.raywenderlich.com/24252/beginning-game-programming-for-teens-with-python">python program</a> whose developer is just a 13-year-old child. I just want to implement it with javascript techniques I learnt these days.
    </li>
    <h3 class="title">
        How to play?
    </h3>
    <ul>
        <li class="description">
            w or <uli> to move the bunny up;
        </li>
        <li class="description">
            a or <left> to move the bunny left;
        </li>
        <li class="description">
            s or <down> to move the bunny down;
        </li>
        <li class="description">
            d or <right> to move the bunny right;
        </li>
        <li class="description">
            click the shoot the arrow to the mouse;
        </li>
        <li class="description">
            Bunny will rotate to the mouse coordinate.
        </li>
    </ul>
    <button class="start">Go!!!</button>
</div>
